@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(11, 26, 51);
    color: white;
    font-family: serif;
  }
  
  /* Animation styles */
  .image {
    animation-name: superman;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  
  /* Keyframes for animation */
  @keyframes superman {
    0% {
      border-color: rgb(239, 244, 11);
      transform: translate(0, 0);
      box-shadow: 10px 10px 100px 50px blue; 
    }
    25% {
      border-color: rgb(239, 244, 11);
      box-shadow: 10px 10px 100px 50px rgb(239, 244, 11);
    }
    50% {
      border-color: rgb(12, 12, 199);
      transform: translate(0, 0);
      box-shadow: 10px 10px 100px 50px rgb(12, 12, 199);
    }
    75% {
      border-color: rgb(130, 217, 160);
      box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
    }
    100% {
      border-color: rgb(50, 55, 205);
      transform: translate(0, 0);
      box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);
    }
  }
  